/*menu*/
div.menu{
    width: 100%;
    height: 60px;
    position: relative;
    top: 100px;
    background-color: white;
z-index: 998;
  }
  div.menu>nav{
    width: inherit;
    height: inherit;
  }
  div.menu>nav>ul{
    width: inherit;
    height: inherit;
    list-style: none;
  position: relative;
  top: 25px;
  
  }
  div.menu>nav>ul>li.city{
 position: relative;
 right: 150px;
 transition: 200ms;
  }
  div.menu>nav>ul>li:hover{
    transition: 200ms;
border-bottom: 2px solid #EF3A4F;
transition-timing-function: cubic-bezier(.55,-0.01,0,.98);
transition-duration: 100ms;
  }
  div.menu>nav>ul>li{
    width: auto;
    height: 34px;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    transition: 200ms;
  }
  div.menu>nav>ul>li>a.daste{
    text-decoration: none;
    color: #3c4b6d;
    font-size: 15px;
    font-weight: bold;
  }
  div.menu>nav>ul>li>a,div.menu>nav>ul>li.city{
    text-decoration: none;
    color: #7A7790;
  }
  div.menu>nav>ul>li>div.submenu{
    width: calc(100vw - 50px);
    height: 510px;
    background-color: white;
    position: absolute;
    display: none;
    z-index:2;
    box-shadow: 10px 0 100px  black;
  }
  div.menu>nav>ul>li:hover>div.submenu{
    display: block;
   
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul{
    list-style: none;
    margin-top: 10px;
    width: auto;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li{
    width: auto;
    height: 41px;
    transition: 300ms;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li>a{
    color: #635772;
    display: block;
    width: 15%;
    height: inherit;
    font-weight: bold;
    font-size: 13px;
    line-height: 38px;
    text-decoration: none;
    padding: 0 20px;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li>a:hover{
    background-color: #f5f5f5;
    color: #EF3A4F;
    transition: 300ms;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li>div.left{
    width: 85%;
    height: 500px;
 
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 10px;
    display: none;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left{
    display: block;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.first>ul>a.topi{
    text-decoration: none;
    font-size: 15px;
    color: #3c4b6d;
    position: relative;
    bottom: 20px;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.first>ul>a.topi>span{
    position: relative;
    top: 5px;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.first{
    width: 21%;
    height: 500px;
 
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 60px;
    padding-right: 20px;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.first>ul,  div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.second>ul,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.third>ul,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.fourth>ul,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.fifth>ul
    {
    width: auto;
    list-style: none;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.first>ul>li,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.second>ul>li,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.third>ul>li,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.fourth>ul>li,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.fifth>ul>li
    {
    width: auto;
    height: 30px;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.first>ul>li>a,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.second>ul>li>a,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.third>ul>li>a,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.fourth>ul>li>a,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.fifth>ul>li>a
    {
    text-decoration: none;
    transition: 100ms;
    color: #3c4b6d;
  }

  div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.first>ul>li>a:hover,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.second>ul>li>a:hover,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.third>ul>li>a:hover,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.fourth>ul>li>a:hover,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.fifth>ul>li>a:hover{
    color: #EF3A4F;
    transition: 100ms;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.first>ul>li.bold>a:hover,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.second>ul>li.bold>a:hover,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.third>ul>li.bold>a:hover,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.fifth>ul>li.bold>a:hover
{
    color: #EF3A4F;
    transition: 100ms;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.first>ul>li.bold>a>span,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.second>ul>li.bold>a>span,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.third>ul>li.bold>a>span,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.fifth>ul>li.bold>a>span{
position: relative;
top: 5px;
color: #EF3A4F;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.first>ul>li.bold>a,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.second>ul>li.bold>a,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.third>ul>li.bold>a,div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.fifth>ul>li.bold>a
    {
    font-size: larger;
    transition: 300ms;
    font-weight: bold;
    color:#635772;
    text-decoration: none;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.second{
    width: 24%;
height: 500px;
position: absolute;
top: 27px;
right: 230px;
display: inline-block;
padding-top: 60px;
padding-right: 20px;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.third{
    width: 24%;
    height: 500px;
    position: absolute;
    top: 27px;
    right: 450px;
    padding-top: 60px;
    display: inline-block;
    padding-right: 20px;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.fourth{
    width: 24%;
    height: 500px;
   padding-top: 30px;
    position: absolute;
    top: 27px;
    right: 650px;
    padding-top: 60px;
    display: inline-block;
    padding-right: 20px;
  }
  div.menu>nav>ul>li>a>span{
   font-size: xx-small;
   position: relative;
   top: 4px;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li:hover>div.left>div.fifth{
    width: 24%;
    height: 500px;
   padding-top: 30px;
    position: absolute;
    top: 26px;
    right: 820px;
    padding-top: 60px;
    display: inline-block;
    padding-right: 20px;
  }
  div.menu>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.first>ul>li.bold>a>span,div.menu>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.second>ul>li.bold>a>span,div.menu>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.third>ul>li.bold>a>span,div.menu>nav>ul>li>div.submenu>div.right>ul>li>div.left>div.fifth>ul>li.bold>a>span{
    color: #EF3A4F;
    font-size: 20px;
    margin-left: 2px;
  }
